*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

canvas{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.instructions{
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    padding: 3rem;
    background-color: skyblue;
    min-height: 100vh;
    color: white;
    font-size: 1.55rem;
                                              
}

.instructions h2{
    margin-bottom: 1rem;
    font-family: 'Common Pixel', sans-serif; 
}

ol{
    max-width: 300px;
}

ol li{
    padding: 0.55rem;
}

.highscore{
    margin-top: 5rem;
    color: #1f1f1f;
    font-family: 'Common Pixel', sans-serif; 
    margin-left: 350px;
    position: absolute;
}

@media (max-width: 720px) {
    .instructions {
        display: none;
    }
}
